body {
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 15vh;
    font-size: 7vh;
}

p {
    font-size: 2vh;
}

#login_screen {
    margin-top: 7vh;
    margin-left: 20vw;
    width: 60vw;
}

form {
    float: left;
    width: 25vw;
    height: 45vh;
    margin-right: 5vw;
    background-color: #5a9a9f;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
    display: block;
}

form a {
    display: inline-block;
    margin-top: 4vh;
    margin-left: 2vw;
}

form p {
    text-align: center;
    margin-top: -15px;
}

form p a {
    margin-left: 0;
}

input {
    margin-top: 5px;
    margin-left: 1.5vw;
    width: 20vw;
    height: 5vh;
    border-radius: 25px;
    background-color: #31333e;
    border-color: #414141;
    border-style: solid;
}

input:focus {
    outline: none;
}

.my_input,
select,
textarea {
    padding-left: 1vw;
    padding-right: 1vw;
}

button {
    margin-top: 7vh;
    margin-left: 1.5vw;
    width: 22vw;
    height: 5vh;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    color: #ffffff;
}

#version {
    color: #8fffa0;
}

#info {
    float: left;
    width: 25vw;
    translate: 0px -20px;
}

#info h2 {
    text-align: center;
    color: #71c7cd;
}

#info p {
    text-align: left;
    font-size: 3vh;
    margin-bottom: 0px;
}