#menu {
    background-color: rgb(13, 18, 26);
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    height: 6vh;
}

#menu a {
    margin-top: 20px;
    margin-left: 10px;
    color: aqua;
}