html {
    background-color: #2e2e35;
    touch-action: manipulation;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-family: Arial;
}

a {
    color: #ffffff;
    font-family: Arial;
}

input,
select,
textarea {
    color: #ffffff;
    font-family: Arial;
}

input {
    background-color: #31333e;
}

button {
    background-color: #31333e;
}

.error {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 999999999999;
    background-color: #ff370068;
    width: fit-content;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}