<!DOCTYPE html>
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Přihlášení</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/login.css')}}">
</head>

<body>
    <h1>Přihlášení</h1>
    <p>Zde se můžete přihlásit svím účtem. Pokud ještě účet nemáte, můžete si ho <a
            href="{{url_for('register')}}">vytvořit</a></p>
    <form method="POST">
        <input name="username" class="my_input" placeholder="Honzík847">
        <br>
        <input name="password" class="my_input" type="password" placeholder="**********">
        <br>
        <button type="submit"><a>Přihlásit se</a></button>
    </form>
</body>

</html>