<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Registrace</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/register.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages[1] %}
    <p class="error">Error: {{messages[1]}}</p>
    {% endif %}
    {% endwith %}
    <h1>Registrace</h1>
    <div id="login_screen">
        <form method="POST">
            <a>Uživatelské jméno</a>
            <input name="username" class="my_input" placeholder="Honzík847">
            <br>
            <a>E-mail</a>
            <input name="email" class="my_input" placeholder="honzik@fakemain.com">
            <br>
            <a>Heslo</a>
            <input name="password" class="my_input" type="password" placeholder="**********">
            <br>
            <a>Zopakujte heslo</a>
            <input name="repeat_password" class="my_input" type="password" placeholder="**********">
            <br>
            <button type="submit">Zaregistrovat se</button>
            <p>Pokud už účet máte <a href="{{url_for('login')}}">přihlašte se</a></p>
        </form>
        <div id="info">
            <h2>Mia hlasová asistentka</h2>

            {% with messages = get_flashed_messages() %}
            <p>Verze:
                <a id="version">{{messages[0]}}</a>
            </p>
            {% endwith %}

            <p>O projektu:</p>
            <a>Mia je hlasová asistentka vytvořena v pythonu, html, css a javascriptu. Jejím cílem je poskytnou
                uživatelům pomoct s věcmi každodenní potřeby od plánováním dne až po vyhledávání informací</a>
            <div>
                <p>Důležité informace: </p>
                <a>Projekt je v rané fázi vývoje, mohou se vyskytovat bugy, můžete přijít o uložená data i účet. Pokud
                    najdete nějaký problém, ohlašte to prosím na <a
                        href="mailto:bugreport@vaclavparma.cz">bugreport@vaclavparma.cz</a></a>
            </div>
        </div>
    </div>
</body>

</html>