<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/home/sidebar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/home/chat.css')}}">
    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
</head>

<body>
    <section id="menu">
        {% with messages = get_flashed_messages() %}
        <p id="name"><span class="dot"></span> {{ messages[0] }}</p>
        <a class="target base" href="/home" style="color:#5a9a9f;">Domů</a>
        <br>
        <div class="tree">
            <span><a class="target" href="/home">Domů</a></span>
            <br>
            <span><a class="target" href="/home/chat" style="color:#5a9a9f;">Chat</a></span>
            <br>
            <span><a class="target" href="/home/voice">Voice</a></span>
        </div>
        <br>
        <a class="target base" href="/home/settings">Nastavení</a>
        <br>
        <div class="tree">
            <span><a class="target" href="/home/settings#profile">Profil</a></span>
            <br>
            <span><a class="target" href="/home/settings#preferences">Preference</a></span>
            <br>
            <span><a class="target" href="/home/settings#pro">MIA Pro</a></span>
        </div>
        <br>
        <a id="logout" class="target" href="/logout">Odhlásit se</a>
        {% endwith %}
    </section>

    <section id="chat">
        <div id="bottom">
            {% with messages = get_flashed_messages() %}
            {% if messages[40] %}
            <div class="server_message">
                <p id="Server 40"> {{messages[40]}} </p>
            </div>
            {% endif %}
            {% if messages[20] %}
            <div class="user_message">
                <p> {{messages[20]}} </p>
            </div>
            {% endif %}
            {% if messages[39] %}
            <div class="server_message">
                <p id="Server 39"> {{messages[39]}} </p>
            </div>
            {% endif %}
            {% if messages[19] %}
            <div class="user_message">
                <p> {{messages[19]}} </p>
            </div>
            {% endif %}
            {% if messages[38] %}
            <div class="server_message">
                <p id="Server 38"> {{messages[38]}} </p>
            </div>
            {% endif %}
            {% if messages[18] %}
            <div class="user_message">
                <p> {{messages[18]}} </p>
            </div>
            {% endif %}
            {% if messages[37] %}
            <div class="server_message">
                <p id="Server 37"> {{messages[37]}} </p>
            </div>
            {% endif %}
            {% if messages[17] %}
            <div class="user_message">
                <p> {{messages[17]}} </p>
            </div>
            {% endif %}
            {% if messages[36] %}
            <div class="server_message">
                <p id="Server 36"> {{messages[36]}} </p>
            </div>
            {% endif %}
            {% if messages[16] %}
            <div class="user_message">
                <p> {{messages[16]}} </p>
            </div>
            {% endif %}
            {% if messages[35] %}
            <div class="server_message">
                <p id="Server 35"> {{messages[35]}} </p>
            </div>
            {% endif %}
            {% if messages[15] %}
            <div class="user_message">
                <p> {{messages[15]}} </p>
            </div>
            {% endif %}
            {% if messages[34] %}
            <div class="server_message">
                <p id="Server 34"> {{messages[34]}} </p>
            </div>
            {% endif %}
            {% if messages[14] %}
            <div class="user_message">
                <p> {{messages[14]}} </p>
            </div>
            {% endif %}
            {% if messages[33] %}
            <div class="server_message">
                <p id="Server 33"> {{messages[33]}} </p>
            </div>
            {% endif %}
            {% if messages[13] %}
            <div class="user_message">
                <p> {{messages[13]}} </p>
            </div>
            {% endif %}
            {% if messages[32] %}
            <div class="server_message">
                <p id="Server 32"> {{messages[32]}} </p>
            </div>
            {% endif %}
            {% if messages[12] %}
            <div class="user_message">
                <p> {{messages[12]}} </p>
            </div>
            {% endif %}
            {% if messages[31] %}
            <div class="server_message">
                <p id="Server 31"> {{messages[31]}} </p>
            </div>
            {% endif %}
            {% if messages[11] %}
            <div class="user_message">
                <p> {{messages[11]}} </p>
            </div>
            {% endif %}
            {% if messages[30] %}
            <div class="server_message">
                <p id="Server 30"> {{messages[30]}} </p>
            </div>
            {% endif %}
            {% if messages[10] %}
            <div class="user_message">
                <p> {{messages[10]}} </p>
            </div>
            {% endif %}
            {% if messages[29] %}
            <div class="server_message">
                <p id="Server 29"> {{messages[29]}} </p>
            </div>
            {% endif %}
            {% if messages[9] %}
            <div class="user_message">
                <p> {{messages[9]}} </p>
            </div>
            {% endif %}
            {% if messages[28] %}
            <div class="server_message">
                <p id="Server 28"> {{messages[28]}} </p>
            </div>
            {% endif %}
            {% if messages[8] %}
            <div class="user_message">
                <p> {{messages[8]}} </p>
            </div>
            {% endif %}
            {% if messages[27] %}
            <div class="server_message">
                <p id="Server 27"> {{messages[27]}} </p>
            </div>
            {% endif %}
            {% if messages[7] %}
            <div class="user_message">
                <p> {{messages[7]}} </p>
            </div>
            {% endif %}
            {% if messages[26] %}
            <div class="server_message">
                <p id="Server 26"> {{messages[26]}} </p>
            </div>
            {% endif %}
            {% if messages[6] %}
            <div class="user_message">
                <p> {{messages[6]}} </p>
            </div>
            {% endif %}
            {% if messages[25] %}
            <div class="server_message">
                <p id="Server 25"> {{messages[25]}} </p>
            </div>
            {% endif %}
            {% if messages[5] %}
            <div class="user_message">
                <p> {{messages[5]}} </p>
            </div>
            {% endif %}
            {% if messages[24] %}
            <div class="server_message">
                <p id="Server 24"> {{messages[24]}} </p>
            </div>
            {% endif %}
            {% if messages[4] %}
            <div class="user_message">
                <p> {{messages[4]}} </p>
            </div>
            {% endif %}
            {% if messages[23] %}
            <div class="server_message">
                <p id="Server 23"> {{messages[23]}} </p>
            </div>
            {% endif %}
            {% if messages[3] %}
            <div class="user_message">
                <p> {{messages[3]}} </p>
            </div>
            {% endif %}
            {% if messages[22] %}
            <div class="server_message">
                <p id="Server 22"> {{messages[22]}} </p>
            </div>
            {% endif %}
            {% if messages[2] %}
            <div class="user_message">
                <p> {{messages[2]}} </p>
            </div>
            {% endif %}
            {% if messages[21] %}
            <div class="server_message">
                <p id="Server 21"> {{messages[21]}} </p>
            </div>
            {% endif %}
            {% if messages[1] %}
            <div class="user_message">
                <p> {{messages[1]}} </p>
            </div>
            {% endif %}

            {% endwith %}
        </div>
    </section>
    <section id="entry">
        <form method="POST" autocomplete="off">
            <input name="message" id="message" placeholder="Tady napište nějakou zprávu" autofocus="autofocus">
            <button type="submit" id="submit">
                <svg id="Layer_1" style="enable-background:new 0 0 30.2 30.1;" version="1.1" viewBox="0 0 30.2 30.1"
                    xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke: #ffffff;
                            stroke-width: 1.25;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-miterlimit: 10;
                        }

                        .st1 {
                            fill: none;
                            stroke: #ffffff;
                            stroke-width: 1.1713;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-miterlimit: 10;
                        }
                    </style>
                    <path class="st0"
                        d="M2.1,14.6C8.9,12,28.5,4,28.5,4l-3.9,22.6c-0.2,1.1-1.5,1.5-2.3,0.8l-6.1-5.1l-4.3,4l0.7-6.7l13-12.3l-16,10  l1,5.7l-3.3-5.3l-5-1.6C1.5,15.8,1.4,14.8,2.1,14.6z" />
                </svg>
            </button>
        </form>
    </section>
</body>

</html>