<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Voice</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/home/sidebar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/home/voice.css')}}">
</head>

<body>
    <section id="menu">
        {% with messages = get_flashed_messages() %}
        <p id="name"><span class="dot"></span> {{ messages[0] }}</p>
        <a class="target base" href="/home" style="color:#5a9a9f;">Domů</a>
        <br>
        <div class="tree">
            <span><a class="target" href="/home">Domů</a></span>
            <br>
            <span><a class="target" href="/home/chat">Chat</a></span>
            <br>
            <span><a class="target" href="/home/voice" style="color:#5a9a9f;">Voice</a></span>
        </div>
        <br>
        <a class="target base" href="/home/settings">Nastavení</a>
        <br>
        <div class="tree">
            <span><a class="target" href="/home/settings#profile">Profil</a></span>
            <br>
            <span><a class="target" href="/home/settings#preferences">Preference</a></span>
            <br>
            <span><a class="target" href="/home/settings#pro">Placeholder</a></span>
        </div>
        <br>
        <a class="target base" href="/home/contact">Kontakt</a>
        <br>
        <div class="tree">
            <span><a class="target" href="/home/contact">Kontakt</a></span>
            <br>
            <span><a class="target" href="/home/featurerequest">Návrh na vylepšení</a></span>
            <br>
            <span><a class="target" href="/home/bugreport">Nahlásit problém</a></span>
        </div>
        <br>
        <a id="logout" class="target" href="/logout">Odhlásit se</a>
        {% endwith %}
    </section>
</body>

</html>